<div class="card">

    <div class="card-header">
        <h5 class="card-title">{{ titulo }}</h5>
    </div>

    <div class="card-body">

        <ul class="series-list">

            
            <ng-container *ngIf="series.length === 0; else seriesItems">
                <p>No hay {{ titulo.toLowerCase() }}</p>
            </ng-container>

            <ng-template #seriesItems>
                <li class="list-group-item" *ngFor="let serie of series">
                    <a> {{serie.nombreSerie}} </a>
                </li>
            </ng-template>

        </ul>


    </div>

</div>